# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
*.pyo
*.pyd

# Distribution files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp
